extends Layout 

block content
    h1 Reset Password 
    form
        label(for="password") Enter a new password: 
        input(type="password", id="password", name="password", placeholder="type in a new password...", value= password, required)
        br
        label(for="password-repeat") Repeat new password: 
        input(type="password", id="password-repeat", name="password-repeat", placeholder="repeat the new password...", value= passwordRepeat, required)
        br
        input(type="hidden", value= email ? email : "", readonly)
        br
        input(type="submit" value="Send Data")
        br
    div(id="fetch-result") 

    script.
        document.body.onload = () => {
            const form = document.querySelector("form");
            const pwInputs = document.querySelectorAll("input[type='password']");
            const fetchResult = document.querySelector("#fetch-result");

            const formData = new FormData(form);
            const resetUrl = "#{serverURL}/users/reset-password";

            form.onsubmit = (e) => sendForgotPWData(e);
            for (const pwInput of pwInputs) {
                pwInput.onchange = (e) => {
                formData.set(pwInput.name, e.target.value);
                };
            }
            formData.set("email", "#{email}");

            async function sendForgotPWData(e) {
                try {
                    e.preventDefault();
                    if (fetchResult.children.length) {
                        for (let i = fetchResult.children.length - 1; i >= 0; i--) {
                            fetchResult.children[i].remove();
                        }
                    }

                    const response = await fetch(resetUrl, {
                        method: "POST",
                        body: formData,
                    });
                    const result = await response.json();

                    if (result.valErrors) {
                        result.valErrors.forEach((v) => {
                        const p = document.createElement("p");
                        p.textContent = v.msg;
                        fetchResult.appendChild(p);
                        });
                    } else {
                        const p = document.createElement("p");
                        p.textContent = result.success ? result.success : result.error;
                        fetchResult.appendChild(p);
                        if (result.success) {
                            location.href = "#{clientURL}";
                        }
                    }
                } catch (err) {
                    const p = document.createElement("p");
                    p.textContent = err.message;
                    fetchResult.appendChild(p);
                }
            }
        };

